svg{
	margin: 20px 20px 0;
	background-image: url('../img/stage.jpg');
}

#previous{
	position: fixed;
	bottom: 25px;
	right: 120px;
}

#next{
	width:115px;
	height:82px;
}

#formation_number{
	font-size:25px;
	position: fixed;
	bottom: 28px;
	right: 98px;
	text-align: center;
}

.timeline{
	width:770px;
	height:100px;
	position: fixed;
	bottom:10px;
	/*left:200px;*/
	overflow-x:scroll;
	overflow-y:hidden;
}
.thumbnail_container{
	width:1000px;
}
.thumb{
	margin:5px 2px;
}
.selected_thumb{
	border-style:solid;
	border-width:5px;
}
body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

.dancer{
	stroke: #aaaaaa;
	stroke-width: 5px;
	fill: white;
}

.selected_dancer{
	stroke: black;
	stroke-width: 5px;
	fill: #ffbb78;
}

.header{
	font-weight:bold;
}

text{
	font-weight: 900;
}

.dancer_names{
	height: 250px;
	overflow: scroll;
}

.dancer_name_input{
	width:244px;
}